.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
   
}

.bodyimg {
    position: relative;
    text-align: center;
      
}
.header{
    position:absolute;
    top:45%;
    left:41%;
    transform: translate(-20%,-20%); 
    color:white;
    font-family: 'Times New Roman', Times, serif;
   
}


body{
    background-color: rgb(248, 242, 242);
    
}


.grid {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    
}

.grid img{
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 50px;

}
.oragami{
      
    border-radius: 20px;
    background-color: white;

    width: 310px;
    font-family:cursive;
}
